<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Scientific_conference.Properties.Settings.Scientific_conferenceConnectionString"
            connectionString="Data Source=DESKTOP-I5HK0D4;Initial Catalog=Scientific_conference;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Scientific_conference.Properties.Settings.Scientific_conferenceConnectionString1"
            connectionString="Data Source=DESKTOP-I5HK0D4;Initial Catalog=Scientific_conference;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>